.containergale {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: white
        }

        .gallery {
            display: flex;
            gap: 10px;
        }

        .gallery img {
            width: 164px;
            height: 221px;
            transition: transform 0.3s ease-in-out;
            cursor: pointer;
        }

        .gallery img:hover {
            transform: scale(2);
        }